asgiref==3.8.1
boto3==1.38.41
botocore==1.38.41
certifi==2025.6.15
colorama==0.4.6
dj-database-url==3.0.0
Django==4.2.14
django-ckeditor-5==0.2.18
django-formtools==2.5.1
django-js-asset==3.1.2
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-storages==1.14.6
django-two-factor-auth==1.17.0
dotenv==0.9.9
gunicorn==23.0.0
jmespath==1.0.1
packaging==25.0
phonenumbers==9.0.8
pillow==11.2.1
psycopg2==2.9.10
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
qrcode==7.4.2
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
